@page "/edit-category/{Id}"
@layout MainLayout
@inherits Net5Wasm.Pages.EditCategoryComponent

@using Radzen
@using Radzen.Blazor
@using Net5Wasm.Models.Net5Wasmconn
@using Microsoft.AspNetCore.Identity;
@using Net5Wasm.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <div  class="row">
      <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Item no longer available." Visible="@(!canEdit)">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" style="margin-bottom: 20px" Text="Close" Visible="@(!canEdit)" Click="@CloseButtonClick">
        </RadzenButton>
      </div>
    </div>
    <div  class="row">
      <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Another user has made conflicting changes to one or more of the fields you have modified. Please reload." Visible="@hasChanges">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="autorenew" style="margin-bottom: 20px" Text="Reload" Visible="@hasChanges" Click="@Button0Click">
        </RadzenButton>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@category" TItem="Net5Wasm.Models.Net5Wasmconn.Category" Visible="@(category != null && canEdit)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="CreatedOn" style="width: 100%" Text="Created On">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="display: block; width: 100%" @bind-Value="@(category.CreatedOn)" Name="CreatedOn">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="CreatedOn" style="position: absolute" Text="CreatedOn is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ModifiedOn" style="width: 100%" Text="Modified On">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="width: 100%" @bind-Value="@(category.ModifiedOn)" Name="ModifiedOn">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="IsDeleted" style="width: 100%" Text="Is Deleted">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox @bind-Value="@(category.IsDeleted)" Name="IsDeleted">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="DeletedOn" style="width: 100%" Text="Deleted On">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="width: 100%" @bind-Value="@(category.DeletedOn)" Name="DeletedOn">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Name" style="width: 100%" Text="Name">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(category.Name)" Name="Name">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Name" style="position: absolute" Text="Name is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ImageSource" style="width: 100%" Text="Image Source">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="2048" style="width: 100%" @bind-Value="@(category.ImageSource)" Name="ImageSource">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button4Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
    <RadzenTemplateForm Data="@category" TItem="Net5Wasm.Models.Net5Wasmconn.Category" Visible="@(category != null)">
      <ChildContent>
        <div style="margin-bottom: 1rem" class="row">
          <div class="col-md-3">
            <RadzenLabel Component="textBox1" style="width: 100%" Text="Label1">
            </RadzenLabel>
          </div>
          <div class="col-md-9">
            <RadzenDataList @ref="datalist0" AllowPaging="true" Count="@getCategoriesCount" Data="@getCategoriesResult" TItem="Net5Wasm.Models.Net5Wasmconn.Category" PageSize="10" LoadData="@Datalist0LoadData">
              <Template Context="data">
               <RadzenCard>
                 <div class="col-md-3">
                                      <div class="card card-product-grid">
                                          <a href="products/category/@data.Name/@data.Id" class="img-wrap">
                                              <img src="@data.ImageSource">
                                          </a>
                                          <figcaption class="info-wrap">
                                              <a href="products/category/@data.Name/@data.Id" class="title">
                                                  @data.Name
                                              </a>
              
                                              @*<div class="price mt-1">$@product.Price</div>*@
                                          </figcaption>
                                      </div>
                                  </div>
                              <RadzenImage src="@data.ImageSource" Style="width:100px;" />
               </RadzenCard>
               
              </Template>
            </RadzenDataList>
          </div>
        </div>
      </ChildContent>
    </RadzenTemplateForm>
  </ChildContent>
</RadzenContent>
