@inherits Net5Wasm.Layouts.MainLayoutComponent

@using Radzen
@using Radzen.Blazor
@using Net5Wasm.Models.Net5Wasmconn
@using Microsoft.AspNetCore.Identity;
@using Net5Wasm.Models
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenHeader>
  <ChildContent>
    <div class="row justify-content-start align-items-center">
      <div class="col-6 d-flex align-items-center">
        <RadzenSidebarToggle Click="@SidebarToggle0Click">
        </RadzenSidebarToggle>
        <RadzenLabel Text="Net5Wasm">
        </RadzenLabel>
      </div>
      <div class="col-6 text-right" style="height: 36px">
        <RadzenProfileMenu style="height: 36px; margin-top: 0px" Visible="@(Security.IsAuthenticated())" Click="@Profilemenu0Click">
          <ChildContent>
            <RadzenProfileMenuItem Path="profile" Icon="settings" Text="Profile" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenProfileMenuItem>
            <RadzenProfileMenuItem Path="application-users" Icon="person" Text="Users" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenProfileMenuItem>
            <RadzenProfileMenuItem Path="application-roles" Icon="security" Text="Roles" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenProfileMenuItem>
            <RadzenProfileMenuItem Text="Logout" Value="Logout" Icon="power_settings_new">
            </RadzenProfileMenuItem>
          </ChildContent>
          <Template>
            <RadzenLabel Text="@($"{(Security.User?.Name)}")">
            </RadzenLabel>
          </Template>
        </RadzenProfileMenu>
      </div>
    </div>
  </ChildContent>
</RadzenHeader>
<RadzenBody @ref="body0">
  <ChildContent>
    <RadzenContentContainer Name="main">
    @Body
    </RadzenContentContainer>
  </ChildContent>
</RadzenBody>
<RadzenSidebar @ref="sidebar0">
  <ChildContent>
    <RadzenPanelMenu style="height: 100%">
      <ChildContent>
        <RadzenPanelMenuItem Expanded="false" Icon="settings_applications" Text="Admin Menu" Visible="@Security.IsInRole(new string[]{"Everybody"})">
          <ChildContent>
            <RadzenPanelMenuItem Icon="category" Path="categories" Text="Categories">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="shopping_bag" Path="products" Text="Products">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="view_list" Path="orders" Text="Orders">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="shopping_cart" Path="shopping-carts" Text="Shopping Carts">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="web_asset" Path="wishlists" Text="Wishlists">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="home" Path="addresses" Text="Addresses">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="orders-products" Text="Orders Products">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="shopping-carts-products" Text="Shopping Carts Products">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="wishlists-products" Text="Wishlists Products">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Item 9">
            </RadzenPanelMenuItem>
          </ChildContent>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Icon="shopping_cart" Text="Blazorshop" Visible="@Security.IsInRole(new string[]{"Everybody"})">
          <ChildContent>
            <RadzenPanelMenuItem Path="Uploadpagez" Text="Uploadpagez">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="perm_media" Path="uploadpage" Text="uploadpage">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="cloud_upload" Path="uploadfilesandsave" Text="uploadfilesandsave">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="productindex" Text="Productindex">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="copy-of-products" Text="Copy of Products">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="edit-category" Text="categorylist">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="work" Path="testmosso" Text="testmosso">
            </RadzenPanelMenuItem>
          </ChildContent>
        </RadzenPanelMenuItem>
      </ChildContent>
    </RadzenPanelMenu>
  </ChildContent>
</RadzenSidebar>
<RadzenFooter>
  <ChildContent>
    <RadzenLabel Text="Net5Wasm, Copyright Ⓒ 2021">
    </RadzenLabel>
  </ChildContent>
</RadzenFooter>
